body {
    max-width: 1920px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.landing-page {
    overflow: auto;
    padding-bottom: 123px;
}
.main-calculator{
    overflow: auto;
    padding-bottom: 24px;
}
.home_container {
    width: 65%;
    margin-top: 100px;
    float: right;
    transition: 2s;
}
.calculator_container {
    width: 35%;
    margin-top: 100px;
    border-right: rgb(6, 40, 95) solid 3px;
    text-align: center;
    transition: 2s;
    transform: translateX(-100%); /* se tiene que deshabilitar para que aparezca */
}
.section-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    min-height: 100%;
    margin: 88px;
}
.img-responsive{
    display: none;
}
.img-responsive-balanz{
    display: none;
}
.style-img img {
    width: 100px;
}
h3 {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
}
.box-style { 
    border: rgb(147, 174, 201) solid 2px;
    width: 300px;
    height: 200px;
    border-radius: 0px 10px;
}
.box-style input {
    width: 85px;
    height: 20px;
}
.style-input {
    margin-top: 20px;
}

div#radio-container .radio {
    width: 15px;
    height: 13px;
}
.usdOrPesos {
    margin: 0px;
}
.button {
    display: flex;
    justify-content: center;
    
}
.style-button {
    padding: 18px 37px;
    border-radius: 0px 10px;
    font-size: 14px;
    letter-spacing: 1.2px;
    background-color: rgb(89, 93, 97);
    border: rgb(89, 93, 97);
    color: seashell;
}
.dp-footer {
    display: flex;
    bottom:0;
    width:100%;
    height: 64px;
    position: relative;    
    justify-content: space-around;
    background-color: rgb(122, 151, 180);
    clear: both;
}
.footer-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    letter-spacing: 1.2px
}
.github {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.2px
}
 /*Responsive*/
 @media (max-width: 460px) {

    .section-container {
         display: flex;
         flex-direction: column;
         height: auto;
         width: 100%;
         left: 0;
         margin: 0;
         padding: 0;
    }
    .style-img {
        display: none;
    }
    .box-style {
        margin: 20px 32px;
    }
    .img-responsive{
        height: 20px;
        display: inline-block;
    }
    .img-responsive-balanz{
        height: 22px;
        display: inline-block;
    }
    .dp-footer {
        display: block;
        text-align: center;
        background-color: rgb(122, 151, 180);
        height: 77px;
    }
    
}
