.header-icon {
	display: flex;
	letter-spacing: 1.2px;
}
header {
	display: flex;
    align-items: center;
	justify-content: space-between;
	width:100%;
	height: 150px;
	overflow:hidden;
	background:rgb(122, 151, 180);
}
header .logo {
	color:#f2f2f2;
	font-size:50px;
	padding: 42px;
	letter-spacing: 1.2px;
}
header nav {
	float: right;
	padding: 42px;
}
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	text-align: center;
	padding:10px 16px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
    font-family: 'Raleway', sans-serif;
}

header nav a:hover {
	background:rgb(89, 93, 97);
	border-radius:50px;
}
@media (max-width: 460px) {
    header {
        display: inline-block;
		margin-bottom:50px;
    }
    header .logo {
        padding: 15px 0 0 0;
    }
    header nav {
        padding: 0;
    } 
}