.header-icon {
	display: flex;
    justify-content: center;
    align-items: center;
	padding: 80px 37px;
	letter-spacing: 1.2px;
}
header {
	width:100%;
	overflow:hidden;
	background:rgb(122, 151, 180);
	margin-bottom:20px;
}
header .logo {
	color:#f2f2f2;
	font-size:50px;
	line-height:200px;
	float:left;
    font-family:"Avantgarde", Century "Gothic", "CenturyGothic", "AppleGothic", sans-serif;;
	letter-spacing: 1.2px;
	
}
header nav {
	float:right;
	line-height:200px;
}
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
    font-family: 'Raleway', sans-serif;
}

header nav a:hover {
	background:rgb(89, 93, 97);
	border-radius:50px;
}