body {
    max-width: 1680px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
.img-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.container {
    min-width: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.img-responsive{
    display: none;
}
.img-responsive-balanz{
    display: none;
}
.style-img img {
    width: 100px;
}
h3 {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
}
.box-style { 
    border: rgb(147, 174, 201) solid 2px;
    width: 300px;
    height: 200px;
    border-radius: 0px 10px;
}
.box-style input {
    width: 85px;
    height: 20px;
}
.style-input {
    margin-top: 20px;
}
.style-radio {
    width: 15px !important;
    height: 13px !important;
}
.usdOrPesos {
    margin: 0px;
}
.button {
    display: flex;
    justify-content: center;
    margin: 50px;
}
.style-button {
    padding: 18px 37px;
    border-radius: 0px 10px;
    font-size: 14px;
    letter-spacing: 1.2px;
    background-color: rgb(89, 93, 97);

    border: rgb(89, 93, 97);
    color: seashell;
}
.header .logo,
	header nav {
		width:100%;
		text-align:center;
		line-height:100px;
        display: flex;
	}

	.header2 {
		height:auto;
	}
	.header2 .logo,
	.header2 nav {
		line-height:50px;
	}

 /*Responsive*/
 @media (max-width: 460px) {
    .container {
         display: flex;
         flex-direction: column;
         height: auto;
         width: 100%;
         left: 0;
         margin: 0;
         padding: 0;
    }
    .style-img {
        display: none;
    }
    .box-style {
        margin: 20px 32px;
    }
    .img-responsive{
        height: 20px;
        display: inline-block;
    }
    .img-responsive-balanz{
        height: 22px;
        display: inline-block;
    }
    header .logo,
	header nav {
		width:100%;
		text-align:center;
		line-height:100px;
        display: flex;
	}

	.header2 {
		height:auto;
	}
	.header2 .logo,
	.header2 nav {
		line-height:50px;
	}
}